<h1>
    Create Tenant
</h1>

<p>
    <strong>Purpose:</strong> Establishes a new, isolated environment (a "tenant") within MayaJS to store and manage your application's data. Think of it as creating a separate space for your project, complete with its own database and resources.
    <br><strong>Why It's Important:</strong> Tenants provide separation and organization for different projects or applications, ensuring data security and preventing conflicts between them.
</p>

<h1>
    Delete Tenant
</h1>
<p>
    <strong>Purpose:</strong> Removes a tenant and all associated data permanently. This is a destructive action and should be used with caution.
    <br><strong>Why It's Important:</strong> Deleting a tenant can be useful for cleaning up unused resources or when a project is no longer needed.
</p>


<h1>
    Create Schema
</h1>
<p>
    <strong>Purpose:</strong> Defines the structure of your database within a specific tenant. This involves specifying the tables (e.g., "products," "users"), the columns within each table (e.g., "product_name," "price," "email"), and how they relate to each other.
    <br><strong>Why It's Important:</strong> The schema is the blueprint for your data. It ensures data consistency and integrity, making it easier to store, retrieve, and manage information within your application.
</p>

<h1>
    Delete Schema
</h1>
<p>
    <strong>Purpose:</strong> Removes the database schema and all the data contained within it for a specific tenant. This is a destructive action and should be used with caution.
    <br><strong>Why It's Important:</strong> Deleting a schema might be necessary if you need to start over with a new data structure or if a project is being discontinued.
</p>

<h2>
    Try It Yourself
</h2>
<div class="w-100">
    <div id="swagger-ui-item" class="w-100"></div>
</div>