<h1>
    Property Management
</h1>

<p>
    In MayaJS, properties are the attributes or fields that define your objects (entities/tables). You can add, modify, or delete properties by modifing the object.
    <br>MayaJS supports a variety of property types to accommodate different kinds of data:
</p>

<ul class="list-unstyled">
    <li><code>float</code>: Decimal numbers (e.g., 3.14, -12.5)</li>
    <li><code>int</code>: Whole numbers (e.g., 1, 25, -100)</li>
    <li><code>image</code>: Stores image files</li>
    <li><code>file</code>: Stores general files (documents, PDFs, etc.)</li>
    <li><code>text</code>: Short strings of text</li>
    <li><code>mediumtext</code>: Longer strings of text</li>
    <li><code>longtext</code>: Very long strings of text</li>
    <li><code>date</code>: Dates (e.g., 2024-07-21)</li>
    <li><code>datetime</code>: Dates and times (e.g., 2024-07-21 15:08:00)</li>
    <li><code>boolean</code>: True/False values</li>
    <li><code>1n-</code> (One-to-Many Relationship): Links one object to many related objects (e.g., one customer with many orders)</li>
    <li><code>1n1</code> (One-to-One Relationship): Links one object to exactly one other object (e.g., one person with one passport)</li>
    <li><code>1n+</code> (Many-to-One Relationship): Links many objects to one related object (e.g., many orders belonging to one customer)</li>
    <li><code>password</code>: Securely stores hashed passwords</li>
</ul>
