@import 'src/styles/colors.scss';
@import 'src/styles/font.scss';

:host {
    width: 100%;
}

h1 {
    @extend .text--heading03;
    @extend .text--darkgrey;
    @extend .bold;
    @extend .text--darkgrey;
    margin-bottom: 32px;
}
h2 {
    @extend .text--heading04;
    @extend .text--darkgrey;
    @extend .bold;
    @extend .text--darkgrey;
    margin-bottom: 32px;
}
p {
    @extend .text--desktop02;
    @extend .text--darkgrey;
    margin-bottom: 48px;
    line-height: 32px;
}

li {
    p {
        margin: 0;
    }
}

strong {
    @extend .bold;
    @extend .text--darkgrey;
}

table {
    th {
        @extend .text--desktop04;
        @extend .text--darkgrey;
        @extend .semibold;
        padding: 16px 8px;
        text-transform: uppercase;
    }
    td {
        padding: 8px 8px;
        @extend .text--desktop04;
    }
}