<h1>
    How MayaJS Works
</h1>

<p>
    MayaJS isn't a framework that replaces your existing tools. Instead, it's a standalone Node.js-based tool designed to accelerate your development process. Think of it as your personal backend assistant, ready to handle the heavy lifting.
    With an intuitive interface, you define your data models and relationships. MayaJS then automatically generates the database structure, API endpoints, and associated logic. This allows you to focus on building the frontend of your application or integrating with other services.

</p>

<h2>
    Design Your Data Models
</h2>

<p>
    Use MayaJS's intuitive visual interface to define the structure of your data.
    Create "models" to represent the different types of information your application needs (e.g., products, users, orders).
    Specify the attributes (fields) for each model and their data types (text, numbers, dates, etc.).
</p>

<h2>
    Set Relationships (Optional)
</h2>

<p>
    Connect your models to reflect how they relate to each other.
    Establish relationships like one-to-one, one-to-many, or many-to-many.
    For example, link a "customer" model to an "order" model to track customer purchases.
</p>

<h2>
    Generate Your API
</h2>

<p>
    With a single click, MayaJS automatically generates a complete RESTful API based on your data models.
    This API includes endpoints (URLs) for performing all the essential CRUD operations (create, read, update, delete) on your data.
</p>

<h2>
    Connect Your Frontend
</h2>

<p>
    Use your favorite frontend framework or technology (React, Angular, Vue, etc.) to build your user interface.
    Integrate your frontend with the MayaJS-generated API to interact with your backend data.
    Utilize standard HTTP requests (GET, POST, PUT, DELETE) to fetch, create, update, or delete data.
</p>

<h2>
    Customize and Extend (Optional)
</h2>

<p>
    While MayaJS provides a comprehensive backend out-of-the-box, you have the flexibility to customize your API further if needed.
    Add custom business logic or integrate with external services using code hooks or plugins.
</p>
<div class="my-3"></div>
<p class="bold">
    MayaJS takes care of the API, so you can focus on building amazing user experiences.
</p>
