@import './colors.scss';

.mat-flat-button-rounded {
    border-radius: 50px !important;
}

.bt {
    position: relative;
    transition: 0.15s ease all;

    &--standard {
        border: unset;
        border-radius: 6px;
    }

    &--primary {
        background-color: $primaryColor;
        border: 2px solid $primaryColor;
        border-radius: 6px;
        color: $white;

        span {
            color: $white;
        }

        &:hover {
            text-decoration: none;
            background-color: darken(#f96f00, 2%);
            box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.25);
        }

        &.disabled,
        &:disabled {
            border-color: $lightgrey;
            color: $lightgrey;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), $disabled;
            opacity: 1;

            span {
                color: $disabled;
                opacity: 0.4;
            }

            svg {
                filter: invert(20%) sepia(11%) saturate(16%) hue-rotate(343deg) brightness(90%) contrast(40%);
            }
        }
    }

    &--primary-outline {
        background-color: transparent;
        border: 1px solid $primaryColor;
        color: $primaryColor;
        border-radius: 12px;

        span {
            color: $black;
        }

        &:hover {
            text-decoration: none;
        }

        &.disabled {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), $disabled;
            opacity: 1;

            span {
                color: $disabled;
                opacity: 0.4;
            }

            svg {
                filter: invert(20%) sepia(11%) saturate(16%) hue-rotate(343deg) brightness(90%) contrast(40%);
            }
        }
    }

    &--secondary {
        background-color: $white;
        border: 1px solid $accent;
        color: $accent;

        span {
            color: $accent;
        }

        svg {
            filter: invert(51%) sepia(74%) saturate(2852%) hue-rotate(335deg) brightness(102%) contrast(94%);
        }

        &:hover {
            color: $white;

            span {
                color: $white;
            }

            background-color: $accent;
            text-decoration: none;
            box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.25);
        }

        &.disabled {
            opacity: 1;

            span {
                color: $disabled;
                opacity: 0.4;
            }

            border-color: rgba(46, 46, 46, 0.4);

            svg {
                filter: invert(20%) sepia(11%) saturate(16%) hue-rotate(343deg) brightness(90%) contrast(40%);
            }
        }
    }

    &--neutral {
        background-color: $greyMiddle;
        color: $black;

        &.disabled {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), $greyMiddle;
            opacity: 1;

            span {
                color: $disabled;
                opacity: 0.4;
            }

            svg {
                filter: invert(60%) sepia(7%) saturate(105%) hue-rotate(201deg) brightness(84%) contrast(86%);
            }
        }

        &.btn--active {
            color: $black !important;

            span {
                color: $black !important;
            }

            &:hover {
                color: $black !important;

                span {
                    color: $black !important;
                }
            }
        }
    }

    &--neutral-outline {
        background-color: transparent;
        border: 1px solid $borderColor;
        color: $black;
        border-radius: 6px;

        span {
            color: $black;
        }

        &:hover {
            background-color: $greyMiddle;
        }

        &.disabled {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), $disabled;
            opacity: 1;

            span {
                color: $disabled;
                opacity: 0.4;
            }

            svg {
                filter: invert(20%) sepia(11%) saturate(16%) hue-rotate(343deg) brightness(90%) contrast(40%);
            }
        }
    }

    &--grey {
        background-color: $grey;
        color: $black;

        &.disabled {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), $grey;
            opacity: 1;

            span {
                color: $disabled;
                opacity: 0.4;
            }

            svg {
                filter: invert(60%) sepia(7%) saturate(105%) hue-rotate(201deg) brightness(84%) contrast(86%);
            }
        }

        &.btn--active {
            color: $black !important;

            span {
                color: $black !important;
            }

            &:hover {
                color: $black !important;

                span {
                    color: $black !important;
                }
            }
        }
    }

    &--dark {
        background-color: $borderColor;
        border: 1px solid $borderColor;
        color: $white;

        span {
            color: $white;
        }

        &:hover {
            text-decoration: none;
        }

        &.disabled {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), $disabled;
            opacity: 1;

            span {
                color: $disabled;
                opacity: 0.4;
            }

            svg {
                filter: invert(20%) sepia(11%) saturate(16%) hue-rotate(343deg) brightness(90%) contrast(40%);
            }
        }
    }

    &--zero {
        background-color: transparent;
        border: 1px solid $borderColor;
        color: $borderColor;

        span {
            color: $borderColor;
        }

        &:hover {
            background-color: $borderColor;
            color: $white;

            span {
                color: $white;
            }
        }

        &.disabled {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), $disabled;
            opacity: 1;

            span {
                color: $disabled;
                opacity: 0.4;
            }

            svg {
                filter: invert(20%) sepia(11%) saturate(16%) hue-rotate(343deg) brightness(90%) contrast(40%);
            }
        }
    }

    &--iconleft {
        svg {
            margin-right: 8px;
        }
    }

    &--iconright {
        svg {
            margin-left: 8px;
        }
    }

    &--labelonly {
        svg {
            display: none;
        }
    }

    &--icononly {
        span {
            display: none;
        }
    }

    &--circular {
        border-radius: 100%;
    }

    &--small {
        line-height: 12px;
        padding: 12px 16px;

        span {
            font-size: 12px;
            line-height: 12px;
        }

        svg {
            height: 16px;
            width: 16px;
        }

        &.btn--icononly {
            padding: 12px;
        }
    }

    &--medium {
        line-height: 16px;
        padding: 16px 32px;

        span {
            font-size: 16px;
            line-height: 16px;
        }

        svg {
            height: 24px;
            width: 24px;
        }

        &.btn--icononly {
            padding: 16px;
        }
    }
}

.bt--bordered {
    border-radius: 6px !important;
}

.btn--bordered-md {
    border-radius: 20px;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 500ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.mat-button-base {
    .mat-button-wrapper {
        width: 100%;
        display: flex;
    }
}
