<h1>
    Set (Query and Update)
</h1>

<p>
    <strong>Purpose:</strong> The Set module empowers you to perform advanced queries on your data and, optionally, update multiple records that match specific criteria in a single operation.
    <br><strong>Why It's Important:</strong> In many scenarios, you need to target a subset of your data based on conditions and potentially modify those records. The Set module combines querying and updating capabilities, streamlining this common workflow.
</p>

<h2>
    Key Components:
</h2>

<ul class="list-unstyled mb-5">
    <li>
        <strong>Schema:</strong> The top-level object defining the data model you're working with.
    </li>
    <li>
        <strong>Model Names (e.g., "task"):</strong> Properties within the schema object correspond to the names of your models.
    </li>
    <li>
        <strong>Filter Criteria:</strong> Within each model's object, you specify the filter criteria using attribute-value pairs (e.g., "status": true). The filter criteria structure is the same as used in the Select module, allowing you to use various operators for filtering (like equals, greater than, less than, contains, etc.).
    </li>
    <li>
        <strong>Update Data:</strong> If you want to update the records that match your filter criteria, include a nested object named newval within the filter criteria. The newval object should contain the updated values for the attributes you want to modify.
    </li>
</ul>

<h2>
    Example
</h2>

<p class="mb-2">
    Query and Update Products with a Specific Status:
</p>

<div class="d-flex w-100 flex-column mb-5">
    <div style="height: 400px">
        <ngx-monaco-editor style="height: 100%"  [options]="{
            theme: 'vs-dark', 
            language: 'json',
            wordWrap: 'on'
        }" [(ngModel)]="setProduct"></ngx-monaco-editor>
    </div>
</div>

<h2>
    Try It Yourself
</h2>
<div class="w-100">
    <div id="swagger-ui-item" class="w-100"></div>
</div>
