<div class="d-flex flex-column home w-100">
    <div class="home__header w-100 position-relative">
        <maya-navbar></maya-navbar>

        <div class="d-flex w-100 mt-5">
            <div class="d-flex home__header--content mx-auto">
                <img class="necker" src="assets/img/necker.png" alt="">
                <div class="w-50">
                    <h1 class="text--heading01 text--white regular">
                        Build and run your API,
                    </h1>
                    <h1 class="text--heading01 text--white bold mb-2">
                        without coding.
                    </h1>
                    <p class="text-white text--desktop01 mt-4">
                        MayaJs, is not an application itself, but a tool that allows you to design a <strong>database
                            schema</strong>, create a <strong>REST API</strong>, and generate a complete <strong>project
                            structure</strong>.
                    </p>
                </div>
                <div class="d-flex ms-auto" style="z-index: 1;">
                    <div class="overflow-hidden rounded-t">
                        <div class="flex px-4 pt-3" style="background: rgb(58 137 196);">
                            <button type="button" class="focus:outline-none mr-1 rounded-t px-3 pt-3 pb-2 text-sm font-medium text-gray-500 hover:text-gray-200 sm:px-6" style="color: white;     background: rgb(58 62 74);border:none;font-size: 14px;">
                                app.component.ts
                            </button>
                        </div>
                        <pre><code class="p-3 leading-normal d-block overflow-auto text-white" style="height: 330px;">
<span style="color: #569CD6;">class</span> <span style="color: #4EC9B0;">AppComponent</span> implements <span style="color: #4EC9B0;">OnInit</span> <span style="color: #D4D4D4;">&#123;</span>
    <span style="color: #569CD6;">constructor</span><span style="color: #D4D4D4;">(</span><span style="color: #569CD6;">private</span> mayaService: MayaService<span style="color: #D4D4D4;">)</span> <span style="color: #D4D4D4;">&#123;&#125;</span>
    <span style="color: #569CD6;">public</span> <span style="color: #569CD6;">ngOnInit</span> <span style="color: #D4D4D4;">()</span> <span style="color: #D4D4D4;">&#123;</span>
        <span style="color: #569CD6;">const</span> res = <span style="color: #D4D4D4;">this</span><span style="color: #D4D4D4;">.</span>mayaService<span style="color: #D4D4D4;">.</span><span style="color: #DCDCAA;">getAll</span><span style="color: #D4D4D4;">(</span><span style="color: #CE9178;">'customers'</span>, 1, 10<span style="color: #D4D4D4;">);</span>
        <span style="color: #D4D4D4;">console.</span><span style="color: #DCDCAA;">log</span><span style="color: #D4D4D4;">(</span>res<span style="color: #D4D4D4;">);</span>
    <span style="color: #D4D4D4;">&#125;</span>
<span style="color: #D4D4D4;">&#125;</span>
    </code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home__body w-100 py-5">
        <div class="d-flex home__body--content mx-auto mt-5">
            <div class="d-flex col-3">
                <maya-menu></maya-menu>
            </div>
            <div class="d-flex col-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>