<ul class="list-unstyled w-100">
    <li class="menu--title px-3 mb-3">
        <span>
            Concepts
        </span>
    </li>
    <li class="menu--option">
        <a routerLink="/" class="{{isHome ? 'active' : ''}}">
            Introduction
        </a>
    </li>
    <li class="menu--option">
        <a routerLink="/who-is-it-for" routerLinkActive="active">
            Who is it for
        </a>
    </li>
    <li class="menu--option">
        <a routerLink="/how-it-works" routerLinkActive="active">
            How it works
        </a>
    </li>
    <li class="menu--title px-3 mt-5 mb-3">
        <span>
            Database
        </span>
    </li>
    <li class="menu--option">
        <a routerLink="/schema" routerLinkActive="active">
            Schema
        </a>
    </li>
    <li class="menu--option">
        <a routerLink="/objects" routerLinkActive="active">
            Objects
        </a>
    </li>
    <li class="menu--option">
        <a routerLink="/properties" routerLinkActive="active">
            Properties
        </a>
    </li>
    <li class="menu--title px-3 mt-5 mb-3">
        <span>
            Security
        </span>
    </li>
    <li class="menu--option">
        <a routerLink="/roles" routerLinkActive="active">
            Roles and permissions
        </a>
    </li>
    <li class="menu--option">
        <a routerLink="/authentication" routerLinkActive="active">
            Authentication
        </a>
    </li>
    <li class="menu--title px-3 mt-5 mb-3">
        <span>
            Rest API
        </span>
    </li>
    <li class="menu--option">
        <a routerLink="/select" routerLinkActive="active">
            Select
        </a>
    </li>
    <li class="menu--option">
        <a routerLink="/crud" routerLinkActive="active">
            Create, Update, Delete
        </a>
    </li>
    <li class="menu--option">
        <a routerLink="/get" routerLinkActive="active">
            Get
        </a>
    </li>
    <li class="menu--option">
        <a routerLink="/set" routerLinkActive="active">
            Set
        </a>
    </li>
    <li class="menu--option">
        <a routerLink="/remove" routerLinkActive="active">
            Remove
        </a>
    </li>
    <li class="menu--option">
        <a routerLink="/storage" routerLinkActive="active">
            Storage
        </a>
    </li>
    <li class="menu--title px-3 mt-5 mb-3">
        <span>
            Advanced
        </span>
    </li>
    <li class="menu--option">
        <a routerLink="/events" routerLinkActive="active">
            Events
        </a>
    </li>
    <li class="menu--option">
        <a routerLink="/hooks" routerLinkActive="active">
            Hooks
        </a>
    </li>
</ul>