<h1>
    Read Objects
</h1>

<p>
    <strong>Purpose:</strong> Retrieves a list of objects (entities/tables) that match specified criteria. Filters allow you to narrow down the results based on specific attributes or values.
    <br><strong>Why It's Important:</strong> This is essential for efficiently accessing and managing your data. Filtering helps you quickly find the specific objects you need, whether it's a particular customer, a type of product, or a set of orders within a date range.
</p>

<h1>
    Create Object
</h1>

<p>
    <strong>Purpose:</strong> Adds a new object (entity/table) to your database. This involves defining the object's attributes (columns) and their values.
    <br><strong>Why It's Important:</strong> Creating objects is fundamental for populating your database with the data your application needs to function. Whether it's adding new products to an inventory, registering users, or recording transactions, this operation is key.
</p>

<h1>
    Delete Object
</h1>

<p>
    <strong>Purpose:</strong> Removes a specific object (entity/table) from your database. This is a permanent action and should be used with caution.
    <br><strong>Why It's Important:</strong> Deleting objects is necessary for managing your data and keeping your database clean and up-to-date. Whether it's removing outdated records, correcting errors, or cleaning up unused resources, this operation is essential.
</p>

<h2>
    Try It Yourself
</h2>
<div class="w-100">
    <div id="swagger-ui-item" class="w-100"></div>
</div>